@import '~/node_modules/flag-icon-css/css/flag-icon.min.css';
@import './dropdown.css';
@import './tippy.css';

html, body {
  font-family: 'Kanit', sans-serif;
  user-select: none;
}

.app {
  min-height: 100vh;
}

.gradient-top {
  background: linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 413px);
}

.white-drop {
  filter: drop-shadow(0 0 2px white);
}

.text-input {
  @apply w-full border-2 border-gray-300 rounded p-1 px-2
}

/* App Dark */
.app.dark {
  background: rgb(23, 23, 26);
}

.app.dark .title {
  color: white;
}

.app.dark .gradient-top {
  background: linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 413px);
}

.app.dark .topbar, .app.dark .topbar * {
  color: white;
  background-color: rgb(23, 23, 26);
  border-color: #40424e;
}

.app.dark .apy-card, .app.dark .searchbar, .app.dark .provider-select div {
  background: rgb(50, 53, 70);
  border-color: rgb(50, 53, 70) !important;
  color: white;
}

.app.dark .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  background: #19191a;
  border-bottom: 1px solid rgb(39, 39, 39);
}

.app.dark .apexcharts-tooltip.apexcharts-theme-light {
  border: 1px solid rgb(39, 39, 39);
  background: rgba(0, 0, 0, 0.96);
}
