@import '~/node_modules/flag-icon-css/css/flag-icon.min.css';
@import './dropdown.css';
@import './tippy.css';

html, body {
  font-family: 'Kanit', sans-serif;
  user-select: none;
}

.gradient-top {
  background: linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 413px);
}

.white-drop {
  filter: drop-shadow(0 0 2px white);
}

/* App Dark */
.app.dark {
  background: rgb(23, 23, 26);
}

.app.dark .title {
  color: white;
}

.app.dark .gradient-top {
  background: linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 413px);
}

.app.dark .topbar, .app.dark .topbar * {
  color: white;
  background-color: rgb(23, 23, 26);
  border-color: #40424e;
}

.app.dark .apy-card {
  background: rgb(50, 53, 70);
  border-color: rgb(50, 53, 70) !important;
  color: white;
}

.app.dark .provider-select div {
  background: rgb(50, 53, 70);
  border-color: rgb(50, 53, 70) !important;
  color: white;
}
